* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-family: monospace;
  background: #FFFBFE;
}

.diagram {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.diagram .wrap {
  display: flex;
  flex-direction: row;
}

.diagram .starting-fret {
  font-size: 72px;
}

svg {
  cursor: pointer;
}

rect:hover {
  fill: #6750a4;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 50px;
  background: #F6F2F9;
}

.sidebar .button.play {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 100%;
}

.marker {
  fill: #6750a4;
  transition: all 100ms;
}

.slider {
  position: relative;
  width: 200px;
  height: 80px;
  margin-bottom: 10px;
}

.slider .label {
  position: absolute;
  top: 20px;
  font-size: 14px;
  line-height: 24px;
  transition: all 100ms;
}

.slider[data-is-active="true"] .label {
  top: 0;
  font-size: 12px;
  line-height: 18px;
}

.slider .bars {
  position: absolute;
  width: calc(100% - 20px);
  top: 60px;
  left: 10px;
  height: 20px;
}

.slider .bar {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background: grey;
}

.slider .bar.filled {
  background: #6750a4;
}

.slider .handle {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  transform: scaleY(0);
  transition: all 100ms;
  transform-origin: bottom;
}

.slider[data-is-active="true"] .handle {
  transform: scaleY(1);
}

.slider .handle .label {
  position: relative;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  z-index: 2;
}

.slider .handle::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 15px;
  background: #6750a4;
  color: #fff;
  transform: rotate(45deg);
  z-index: 1;
}

.slider .point {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: #6750a4;
  border-radius: 50%;
}

.name {
  font-size: 48px;
  margin-bottom: 20px;
}

.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.chips li {
  cursor: pointer;
  padding: 0 14px;
  font-size: 12px;
  line-height: 26px;
  border: 1px solid #625b71;
  border-radius: 8px;
  transition: all 100ms;
}

.chips li[data-is-selected="true"] {
  color: #fff;
  background: #6750a4;
  border: 1px solid #6750a4;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}

.button {
  cursor: pointer;
  display: inline-block;
  color: #6750a4;
  margin-left: 10px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  transition: all 100ms;
}

.button:hover {
  background: #FFD8E4;
}

.button.filled {
  color: #fff;
  background: #6750a4;
}


.button.filled:hover {
  color: #fff;
  background: #6750a4;
}
