* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-family: monospace;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  margin: auto;
  cursor: pointer;
}

rect:hover {
  fill: blue;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
}

.sidebar {
  width: 200px;
  height: 100vh;
  padding: 0 50px;
  background: #e7e7e7;
}

.marker {
  fill: blue;
  transition: all 100ms;
}

.slider {
  position: relative;
  width: 200px;
  height: 80px;
}

.slider .label {
  position: absolute;
  top: 20px;
  font-size: 18px;
  line-height: 24px;
  transition: all 100ms;
}

.slider[data-is-active="true"] .label {
  top: 0;
  font-size: 12px;
  line-height: 18px;
}

.slider .bars {
  position: absolute;
  width: calc(100% - 20px);
  top: 60px;
  left: 10px;
  height: 20px;
}

.slider .bar {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background: grey;
}

.slider .bar.filled {
  background: blue;
}

.slider .handle {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  transform: scaleY(0);
  transition: all 100ms;
  transform-origin: bottom;
}

.slider[data-is-active="true"] .handle {
  transform: scaleY(1);
}

.slider .handle .label {
  position: relative;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  z-index: 2;
}

.slider .handle::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 15px;
  background: blue;
  color: #fff;
  transform: rotate(45deg);
  z-index: 1;
}

.slider .point {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
}
